# fly.toml app configuration file generated for changedetection-io-z08mjw on 2026-01-21T03:31:13Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'changedetection-io-z08mjw'
primary_region = 'ord'

[build]

[mounts]
  source = 'ticketwatch_data'
  destination = '/datastore'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 256
